@charset "utf-8";

/* 画面幅 */
.top,
.contents {
  max-width: 1000px;
  margin: 100px auto 0 auto;
  padding: 0 10px;
}

/* 各セクションアイコン */

.icon img {
  height: 78px;
}

.menu_icon,
.gallery_icon,
.event_icon,
.access_icon {
  text-align: center;
}

/* header */

header {
  position: relative;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 7%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
  gap: 55px;
}

.pc_nav ul li {
  width: 105px;
  text-align: center;
  color: #ffffff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/* top */

.top {
  text-align: center;
}
.top :first-child {
  font-size: 30px;
  padding-bottom: 60px;
}
.top :nth-child(2) {
  font-size: 82px;
  letter-spacing: 0.1em;
  line-height: 1.17;
  padding-bottom: 45px;
}
.top :last-child {
  font-size: 23px;
  letter-spacing: 0.1em;
  line-height: 1.65;
}

/* about */

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 85px;
}
.about_pic,
.about_contents {
  width: 50%;
}
.about_pic img {
  width: 500px;
  border-bottom-right-radius: 82px;
}
.about_icon img {
  padding-bottom: 65px;
}
.about_copy {
  font-size: 44px;
  padding-bottom: 30px;
  line-height: 1.38;
}
.about_text {
  line-height: 1.625;
}

/* menu */

.menu_icon {
  margin-bottom: 50px;
}
.menu_container {
  display: flex;
  justify-content: space-between;
}
.menu_contents {
  width: 30%;
}
.menu_image {
  position: relative;
}
.menu_image img {
  border-top-right-radius: 41px;
}
.menu_image p {
  color: #d30202;
  font-size: 38px;
  position: absolute;
  bottom: -25px;
  left: 15px;
}
.menu_explain {
  padding-top: 45px;
  font-size: 17px;
  line-height: 1.5;
}

/* gallery */

.gallery_icon {
  margin-bottom: 25px;
}
.gallery_slider {
  display: flex;
  margin: 0 calc(50% - 50vw);
}
.gallery_slider img {
  width: 20%;
}

/* event */

.event_icon {
  margin-bottom: 45px;
}
.event_contents {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  border: 3px solid #4f260b;
  box-sizing: border-box;
  position: relative;
}
.news {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.article {
  display: flex;
  gap: 45px;
}
.date {
  width: 16%;
}
.article p {
  font-size: 22px;
  line-height: 1.95;
}
.article a {
  text-decoration: underline;
}

/* access */

.access_icon {
  margin-bottom: 45px;
}
iframe {
  display: block;
}

/* footer */

footer {
  height: 390px;
  background-color: #ffffff;
}
.footer_contents {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  align-items: flex-start;
  gap: 65px;
}
.footer_logo img {
  height: 50px;
}
.footer_information {
  color: #000000;
  font-size: 20px;
  line-height: 1.95;
}
.copywrite {
  text-align: center;
}
.copywrite p {
  color: #000000;
  font-size: 16px;
}

/* topへ戻る */

.to_top {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
.to_top img {
  width: 125px;
}
