@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #333333;
  font-family: "Noto Sans JP", san-serif;
}
h1 {
  font-size: 28px;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
