@charset "utf-8";

/* 画面幅 */

header,
main,
footer {
  max-width: 1035px;
  padding: 0 10px;
  margin: 0 auto;
}

/* header */

header {
  margin-top: 70px;
  margin-bottom: 70px;
}

header,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  width: 20%;
}
#site-description p {
  font-size: 18px;
}
#menu {
  display: flex;
  justify-content: space-between;
  width: 70%;
  gap: 20px;
}
#menu li {
  font-size: 17px;
  padding: 0 16px;
}
#menu a {
  text-decoration: none;
}
.submenu {
  opacity: 0;
  visibility: hidden;
  width: 200px;
  position: absolute;
  border: 1px solid #e6e6e6;
  margin-left: 20px;
  transition: all 0.5s;
}
.submenu li {
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 10px;
}

.popup:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.popup > a {
  position: relative;
}

.popup > a::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  display: block;
  width: 7px;
  height: 7px;
  margin-left: 7px;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  transform: rotate(135deg);
}

/* main */

main {
  max-width: 1035px;
  margin: 0 auto;
}
#top_text p {
  font-size: 27px;
  margin: 90px auto;
}
.entry {
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}
.entry_date {
  width: 25%;
  padding-right: 75px;
}
.entry_contents {
  width: 70%;
}
.entry_contents h2 {
  margin-bottom: 20px;
}

/* page link */

.page_links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 80px;
}
.page_links p {
  padding: 8px 18px;
  border: 1px solid #777777;
}
.page_links p:first-child {
  color: #111111;
  background-color: #e6e6e6;
}
.page_links a {
  text-decoration: none;
}

/* footer */

.footer_top {
  max-width: 1035px;
  padding: 80px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 75px;
}
.footer_top a {
  color: #777777;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.footer_contents {
  width: 20%;
}
.footer_contents:first-child {
  width: 30%;
}
.profile,
.sns_links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile_img img {
  border-radius: 50%;
  width: 100px;
  margin-right: 10px;
}
.profile {
  margin-bottom: 20px;
}
.contents_title {
  margin-bottom: 20px;
}
.contents_title h2 {
  font-size: 14px;
}
.footer_right p {
  font-size: 16px;
}
.last_entry span {
  font-size: 15px;
}
.category {
  height: 200px;
}
.last_entry ul li,
.category ul li {
  margin-bottom: 10px;
}
.search_field {
  border: 1px solid #e6e6e6;
  height: 40px;
  padding: 10px;
}

.footer_bottom {
  max-width: 1035px;
  margin: 60px auto;
  display: flex;
  gap: 25%;
}
.footer_bottom p {
  font-size: 15px;
}
.footer_bottom a {
  color: #777777;
}
.footer_bottom a:hover {
  color: #111111;
}
.footer_bottom a:visited {
  color: #666666;
}

@media screen and (max-width: 767px) {
  /* 画面幅 */
  header,
  main,
  footer {
    max-width: 767px;
  }

  /* flex解除 */

  header,
  nav,
  #menu,
  .entry,
  .footer_top,
  .footer_bottom {
    display: block;
  }

  /* header */

  #title {
    width: 100%;
  }
  #site-description p {
    font-size: 15px;
  }

  /* main */

  #fv {
    margin: 0 calc(50% - 50vw);
  }

  #top_text p {
    font-size: 23px;
    margin: 60px auto;
  }

  .entry_date {
    width: 100%;
  }
  .entry_contents {
    width: 100%;
  }
  .entry_contents h2 {
    margin-bottom: 15px;
  }

  /* footer */

  .footer_contents,
  .footer_contents:first-child {
    width: 100%;
    margin-bottom: 50px;
  }

  .contents_title h2 {
    font-size: 12px;
  }
  footer,
  .footer_right p,
  .copy_write p {
    font-size: 13px;
  }
  .last_entry span {
    font-size: 12px;
  }
  .search_field {
    width: 100%;
    margin-bottom: 40px;
  }
  .sns_links {
    margin-bottom: 20px;
  }
}
