@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
.code {
  background-color: #f3f2f0;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  overflow-x: auto;
}
.codeex {
  background-color: #d6bcaf;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}
.sample {
  color: #2f5057;
  background-color: #d6bcaf;
  margin-top: 10px;
  margin-bottom: 10px;
}
.link {
  text-align: center;
  margin: 40px auto;
}
