@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
h3 {
  color: #97133b;
}
.sample {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.code {
  width: 380px;
  padding: 20px;
  background-color: #f3f2f0;
}
.codeex {
  width: 360px;
  padding: 20px;
  text-align: center;
  background-color: #d6bcaf;
}
.box {
  background-color: #333333;
  border: 1px solid #ffffff;
  width: 100px;
  height: 30px;
}
.flex {
  width: 360px;
  padding: 20px;
  text-align: center;
  background-color: #d6bcaf;
  display: flex;
}
.gap {
  max-width: 800px;
  padding: 20px;
  background-color: #d6bcaf;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.migiyose {
  max-width: 800px;
  padding: 20px;
  background-color: #d6bcaf;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.center {
  max-width: 800px;
  padding: 20px;
  background-color: #d6bcaf;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.between {
  max-width: 800px;
  padding: 20px;
  background-color: #d6bcaf;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.box1 {
  background-color: #333333;
  border: 1px solid #ffffff;
  width: 100px;
  height: 50px;
}
.ue {
  max-width: 800px;
  padding: 20px;
  background-color: #d6bcaf;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.shita {
  max-width: 800px;
  padding: 20px;
  background-color: #d6bcaf;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}
.chuou {
  max-width: 800px;
  padding: 20px;
  background-color: #d6bcaf;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.kaigyou {
  max-width: 800px;
  padding: 20px;
  background-color: #d6bcaf;
  margin: 0 auto;
  display: flex;
}
.wrap {
  max-width: 800px;
  padding: 20px;
  background-color: #d6bcaf;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.sucription {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  background-color: #f3f2f0;
}
.sublist {
  margin-left: 80px;
  list-style-type: circle;
}
.link {
  text-align: center;
  margin: 40px auto;
}
