@charset "utf=8";
.preview {
  max-width: 80%;
  padding: 20px;
  background-color: #f3f2f0;
  margin: 0 auto;
  text-align: center;
}
table {
  width: 90%;
  background-color: #ffffff;
  border: 1px solid #333333;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0 auto;
}
th {
  background-color: #dcdcdc;
  border: 1px solid #333333;
  padding: 5px;
}
td {
  text-align: center;
  border: 1px solid #333333;
  padding: 5px;
}
.sel {
  width: 20%;
  background-color: #dcdcdc;
}
.kata {
  width: 20%;
}
.data {
  text-align: left;
  padding: 10px;
}
span {
  color: #333333;
  padding: 0 5px;
  border: 1px solid #333333;
}
