@charset "utf=8";

h4 {
  color: #333333;
  cursor: pointer;
}
h4:hover {
  opacity: 0.5;
}
code {
  color: #97133b;
  font-style: bold;
}
span {
  background-color: #ffffff;
  padding: 0 5px;
}

.container {
  max-width: 90%;
  padding: 20px 40px;
  background-color: #f3f2f0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.heading {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-top: 30px;
}
.explain {
  max-width: 90%;
  padding: 20px 40px;
  background-color: #d6bcaf;
  margin: 20px auto;
}

/* ものさしツール */

.toolbar_image {
  width: 4.5%;
  position: relative;
}

.monosashi {
  cursor: pointer;
}
.monosashi_circle {
  width: 80%;
  height: 5%;
  border: solid 4px #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 65%;
  right: 5%;
  display: none;
}

/* 長方形ツール */

.tyouhoukei {
  cursor: pointer;
}
.tyouhoukei_circle {
  width: 80%;
  height: 5%;
  border: solid 4px #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 17%;
  right: 5%;
  display: none;
}

/* フォントサイズ */

.text_image {
  width: 28%;
  position: relative;
}

.fontsize_circle {
  width: 40%;
  height: 5%;
  border: solid 4px #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 5%;
  display: none;
}

/* 行高 */

.gyoudaka_circle {
  width: 40%;
  height: 5%;
  border: solid 4px #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  right: 5%;
  display: none;
}

/* カーニング */

.va_circle {
  width: 40%;
  height: 5%;
  border: solid 4px #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 5%;
  display: none;
}

/* トラッキング */

.tracking_circle {
  width: 40%;
  height: 5%;
  border: solid 4px #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 1%;
  display: none;
}

/* 画像の大きさ */

.picsize_image {
  width: 26%;
  position: relative;
}

.picsize_circle {
  width: 40%;
  height: 20%;
  border: solid 4px #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 6%;
  display: none;
}

/* 角丸 */

.radius_circle {
  width: 80%;
  height: 25%;
  border: solid 4px #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 6%;
  display: none;
}

.visible {
  display: block;
}
@media screen and (max-width: 767px) {
  .heading {
    display: block;
  }
  img {
    display: none;
  }
}
