@charset "utf=8";

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.box {
  background-color: #ffffff;
}
.contents {
  background-color: #ffffff;
  padding: 10px;
}

@media screen and (max-width: 400px) {
  .container {
    display: block;
  }
  .box {
    width: 100%;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
  }
}
